body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    background-color:#B6D5CC;
}
<style>
#header {
    background-color:#B6D5CC;
    color:black;
    text-align:left;
    padding:5px;
}
/**#nav {
    line-height:30px;
    background-color:#B6D5CC;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}*/
#content {
    position: fixed;
    top: 40%;
    left: 20px;
    background-color:#B6D5CC;
    float: left;
    line-height: .25;
}
#footer {
    position: fixed;
    bottom: 0%;
    left: 50%;
    /**centered with this, although I'm not sure why it's necessary*/
    margin-left: -100px;
    background-color:#B6D5CC;
    color:black;
    clear:both;
    text-align:center;
}
p.small {
    font-size: 12px;
    line-height: 5;
}
</style>