/****** Imports ******/

@import "bootstrap/bootstrap";

/****** Variables ******/
$frameTransition: transform .4s ease-in-out;


/****** HTML Elements ******/

body {
	padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
	z-index: 5; // avoids collisions with other page elements

	position: absolute;
	top: 85vh; // default nav height (modified as needed in sub-elements, intent is to have center of nav in the same place on each page)
	left: 70vw;

	text-align: center;	

	ul {
		font-size: 3vw;
		line-height: 4vw;

		li {
		transition: .15s ease-in-out; 	//TODO: have this not effected by window resize
										//animation: nav-hover .15s backwards;
		}

		li:hover {
			transform: scaleX(1.05);
										//animation: nav-hover .15s forwards;
		}
	}
}

ul {
	font-weight: 100;
	letter-spacing: 1vw;

	cursor: pointer;

	padding: 0;
	margin: 0;

	list-style: none;
}

li.return {
	font-size: 3vw;
	line-height: 3vw;
}

// Remove default link styling
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

/****** Top-Level Classes ******/

// Disable transitions on page load
.preload * {
 transition: none !important;
}

// Ignore scrollbars
.wrapper {
	overflow: hidden;
}

/****** IDs ******/

// Index

#index {
	transition: $frameTransition;

	nav {
		top: 75vh;
	}

	#avi {
		font-weight: 100;
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: 4vw;

		position: absolute;
	}

	#dd {
		overflow: visible;

		position: absolute;
		top: -3vh;

		ul {
			cursor: default;
			
			font-weight: 400;
			text-align: center;
			letter-spacing: 0;

			padding: 0;
			margin: 0;

			transform: rotate(-9deg);

			white-space: nowrap;
			list-style: none;

			li {
				display: inline;

				font-size: 38vw;
				line-height: 50vw;
			}

			li.minor-characters {
				display: inline;

				font-size: 5vw;
				line-height: 50vw;
			}
		}
	}
}	

// Portfolio

#portfolio {
	transform: translateY(-100vh); // above splash screen
	transition: $frameTransition;

	ul#dd-portfolio {
		cursor: default;

		font-size: 1.5vw;
		line-height: 2vw;
	}

	#dd-portfolio {
		position: absolute;
		top: 5vh;
		left: 5vw;
	}

	.arrow {
		position: absolute;
		top: 25vh;

		height: 50vh;
		width: 30vw;
	}

	.arrow-poly {
		cursor: pointer;

		transition: .2s;
	}

	.arrow-poly:hover {
		transform-origin: center;
		transform: scale(.97);

		fill: #C3C3C3;
	}

	#arrow-left {
		left: 4vw;
	}

	#arrow-right {
		right: 4vw;
	}
}

// Resume
// Display settings affecting PDF.js are in web/viewer.html

#resume {
	transform: translateX(100vw); // right of splash screen
	transition: $frameTransition;

	nav {
		top: 80vh;
	}

	#resume-pdf {
		width: 60vw; // TODO: make this dynamic, to fit multiple webpage sizes
		height: 100vh;

		position: absolute;
		top: 20vh;

		z-index: -5;

		iframe {
			width: 100%;
			height: 80vh; // long enough to remove scroll bar at most display ratios (TODO: add responsiveness for phones in landscape)

			border: 0; // hide default border
		}
	}

}

// Blog

#blog {
	transform: translateY(100vh); // below splash screen
	transition: $frameTransition;

	nav {
		top: 85vh;
		left: 75vw;
	}
}

/****** Media Queries (responsive layout) ******/

// TODO

/****** Keyframes ******/

@keyframes nav-hover {
	from {transform: scaleX(1);}
	to {transform: scaleX(1.05);}
}